# Database (SQLite - ملف محلي)
# للـ PC: ./prisma/maktabi.db
# للـ Web: file:./prisma/maktabi.db
DATABASE_URL="file:./prisma/maktabi.db"

# للـ PostgreSQL (اختياري للإنتاج)
# DATABASE_URL="postgresql://user:password@localhost:5432/maktabi?schema=public"
